<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Spicy Heat </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Pro:wght@500&family=Roboto&display=swap"
        rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <nav class="navbar">
        <a href="#" class="logo">
            <img src="/images/logo/logo.png" alt="spicy-heat-logo logo">
        </a>
        </a>
        <ul class="nav-links">
            <li class="nav-item">
                <a href="#"> About </a>
            </li>
            <li class="nav-item">
                <a href="#"> Favorite </a>
            </li>
            <li class="nav-item">
                <a href="#"> About US </a>
            </li>
        </ul>
    </nav>
</div>
<section class="hero">
    <!-- <div class="tint"> -->
    <h1 class="hero-title">
        Welcome <br> To Spicy Heat
    </h1>
    <!-- </div> -->
</section>
<div class="content">
    <div class="content-header">
        <h2 class="catalouge-label"> Find your favorite place </h2>
    </div>
    <div class="content-body">
        <div class="catalouge">
            <catalouge-item></catalouge-item>
            </div>
            </div>
</div>
</body>
</html>
