<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Spicy Heat </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Pro:wght@500&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
</head>
<body>
<div class="wrapper">
    <nav class="navbar">
        <a href="#" class="logo">
            <img src="/images/logo/logo.png" alt="spicy-heat-logo logo">
        </a>
        </a>
        <ul class="nav-links">
            <li class="nav-item">
                <a href="index.html"> HOME </a>
            </li>
            <li class="nav-item">
                <a href="#"> FAVORITE </a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/medival/"> ABOUT US </a>
            </li>
        </ul>
    </nav>
</div>
<section class="hero">
    <!-- <div class="tint"> -->
    <h1 class="hero-title">
        Welcome <br> To Spicy Heat
    </h1>
    <!-- </div> -->
</section>
<section class="content">
    <div class="content-header">
        <h2 class="catalouge-label"> Discover Restaurant & Delicious Food </h2>
    </div>
    <div class="content-body">
        <div class="catalouge">
            <catalouge-item>
            </catalouge-item>
            </div>
            </div>
</section>
<footer>
    <div class="footer-content">
        <h4> Crafted by me to everyone with spirit! </h4>
        <h4> Copyright &copy; 2021 - Spicy Heat </h4>
        <div class="footer-social-media">
            <!-- <ul> -->
            <!-- <li> -->
            <a href="https://twitter.com/lemillionee" class="social-icons social-icons-twitter">
                <i class="fa fa-lg fa-twitter"></i>
            </a>
            <!-- </li> -->
            <!-- <li> -->
            <a href="https://linkedin.com/adi-purnomo" class="social-icons social-icons-linkedin">
                <i class="fa fa-lg fa-linkedin"></i>
            </a>
            <!-- </li> -->
            <!-- <li> -->
            <a href="https://github.com/medival" class="social-icons social-icons-github">
                <i class="fa fa-lg fa-github"></i>
            </a>
            <!-- </li> -->
            <!-- </ul> -->
        </div>
    </div>
    </footer>
</body>
</html>

