html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    background-color: #F2F7FF;
    position: fixed;
    z-index: 1;
    justify-content: center;
}

body {
     font-family: 'Roboto', sans-serif;
}

nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: #283C68;
    border-bottom: 2px solid #F2F7FF;
}

.nav-item a:hover {
    border-bottom: 2px solid #2C69FF;
    font-weight: bolder;
    color: #000
}


.nav-item:hover a {
    color: #000;
}

.logo img {
    width: 175px;
    vertical-align: middle;
}

.hero {
    min-height: 60vh;
    background-image: url('/images/heros/hero-image_2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
}


.hero h1 {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 5em;
    text-align: center;
    font-family: 'Crimson Pro', serif;
    font-size: 100px;
    text-shadow: 2px 2px #000022;
}

.content-header {
    display: flex;
    justify-content: center;
    margin: 5em 0;
    color: #343352;
}

.content-header h2 {
    /* text-decoration: underline; */
    padding: 0 2em 1em 2em;
    border-bottom: 2px solid #343352;
}
.content-body {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.catalouge {
    width: 80%;
    display: flex;
    justify-content: center;
}

.restaurant {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;

    /* Responisve */
    /* grid-template-columns: minmax(1fr 1fr); */
}


.card {
    display: flex;
    width: 40vw;
    max-height: 30vh;
    margin: 1em 0 0 0;
    padding: 1em 0 1em 1em;
    border: 1px solid #fff;
}

.card:hover{
    background-color: #F2F7FF;
    border: 1px solid #2C69FF;
}

.card-header {
    display: flex;
    justify-content: space-evenly;
    /* padding-bottom: 1.5em; */
}

.card-description {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    color: #343352;
    /* background-color: yellow; */
}
.card-title {
    font-weight: bolder;
    margin: 0.5em 0;
    color: #000;
}

.card-thumbnail {
    width:15vw;
    height: 10vw;
    display: flex;
    justify-content: center;
}

.card-optional {
    /* margin: 0.5em 0 0.4em 0; */
}

.card-description h3 {
    color: #343352;
}

.card-description p {
    line-height: 1.6;
    color: #343352;
}

/* Footer  */
footer {
    margin-top: 2em;
    background-color: #F2F7FF
}
.footer-content {
    width: 100vw;
    /* margin: 0 auto; */
    padding-top: 1.5em;
    /* background-color: red; */
    /* position: fixed; */
    margin: 0;
}
.footer-content h4 {
    display: flex;
    justify-content: center;
    color: #343352;
}
.footer-content h4:first-child {
    padding: 1em 0;
}

.footer-content h4:last-child {
    /* padding-bottom: em; */
}

.footer-social-media {
    display: flex;
    justify-content: center;
}

.footer-social-media a {
    text-align: center;
    padding: 1em;
    margin: 1.5em 0.5em 0 0;
    width: 4em;
    color: black;
    border-radius: 0.1em;
}

.footer-social-media .social-icons-twitter:hover {
     
    color: #fff;
    background-color: #00aced;
}
.footer-social-media .social-icons-linkedin:hover {
     color: #fff;
     background-color: #0073a4;
}
.footer-social-media .social-icons-github:hover {
     color: #fff;
     background-color: #5a32a3;
}
